/*** mixin ***/
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-layout($direction:row, $justify:center, $align:center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin round-button($bg:#eee,$color:#222){
  width: 100%;
  padding: 0.7rem;
  background-color: $bg;
  color: $color;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2rem;
  outline: none;
  border: none;
  &:hover{
    filter: brightness(0.9);
  }
}