@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/subsets/Paperlogy-dynamic-subset.css");
/**** scss ****/
@import "./styles/variable.scss";
@import "./styles/mixin.scss";
@import "./styles/reset.scss";

body{
  font-family: "Paperlogy", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  
}

//body > #root
#root{
  height: 100vh;
  background: linear-gradient(to bottom, #1e0a45, #0d0520);
  @include flex-center;
}

//body > #root > .app
.app{
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  color: var(--font-color);
  border-radius: 3rem;
  @media screen and (min-width:768px) {
    width: 402px;
    height: 80vh;    
  }
}
/**** start-screen ***/
.start-screen{
  height: 100%;
  text-align: center;
  @include flex-layout(column,space-around);
  gap: 3rem;
  h1{
    font-size: 3rem;
  }
  .input-form{
    @include flex-layout(column);
    gap: 0.7rem;
    button{
      @include round-button();
      font-size: 1.5rem;
    }
    input{
      display: block;
      width: 100%;
      font-size: 1.5rem;
      padding: 0.7rem;
    }
  }
}

/**** game screen ****/
.game-screen{
  height: 100%;
  padding: 2rem;
  @include flex-layout(column);
  gap: 0.7rem;
  .word-list{
    overflow: auto;
    padding: 1rem;
    width: 100%;
    flex: 1;
    li{
      margin: 0.3rem 0;
      @include flex-center;
      gap: 0.7rem;
      justify-content: flex-start;
      &:nth-child(odd){
      }
      &:nth-child(even){
        flex-direction: row-reverse;
        text-align: right;
      }
      span:nth-child(1){

      }
      span:nth-child(2){
        // border: 1px solid #eee;
        @include round-button();
        width: 30%;
      }
    }
  }
  .game-form{
    width: 100%;
    @include flex-layout;
    gap: 0.7rem;
    input{
        @include round-button();
      display: block;
      flex: 1;
    }
    button{
      @include round-button();
      width: 10%;
    }
  }
}